body {
  font-size: 16px;
}

:root {
  /* Colors */
--color-light: #fff;
--color-text: #222;
--bg-requests: #199a67;
--color-grey: #ccc;
--color-off: var(--color-grey);
--color-msg-you: #3263dd;
--color-send: #4f73ce;
/* Padding default */
--padding-unit: 1rem;
}

/* Custom Scroll */
.custom-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--color-grey);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
}

/* Class to Form */
textarea:focus {
  outline: none;
  resize: none;
}
.form-input {
  border: 1px solid #eee;
  border-radius: 0.4em;
  padding: 0.5em;
}

.form-file {
  color: var(--color-grey);
  margin-top: 1em;
}

.btn {
  padding: 0.8em 1em;
  border: 0;
  background-color: transparent;
  border-radius: 0.2em;
  transition: all 0.3s ease;
}

.btn-send {
  background-color: var(--color-send);
  color: var(--color-light);
  cursor: pointer;
}

.btn-send:hover {
  background-color: var(--color-msg-you);
}
.btn-send:focus {
  outline: none;
}

.separate-right {
  margin-right: 0.5em;
}

.radius-all {
  border-radius: 100%;
}
/* Flex using with class */
.flex {
  display: flex;
}

.flex--one {
  flex: 1;
}

.flex--nowrap {
  flex-wrap: nowrap;
}

.flex--wrap {
  flex-wrap: wrap;
}

.flex--justify-center {
  justify-content: center;
}

.flex--justify-start {
  justify-content: flex-start;
}

.flex--justify-end {
  justify-content: flex-end;
}

.flex--justify-between {
  justify-content: space-between;
}

.flex--justify-around {
  justify-content: space-around;
}

.flex--column {
  flex-direction: column;
}

.flex--align-center {
  align-items: center;
}

.flex--align-start {
  align-items: flex-start;
}

.flex--align-self-end {
  align-self: flex-end;
}